* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  border: 3px solid black;
  background-image: url(https://images.unsplash.com/photo-1678282514430-1350ec121314?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding: 2rem;
}

.calculadora {
  background-color: rgba(255, 255, 255, 0.151);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.356);
  height: 100%;
  width: 100%;
  max-width: 768px;
  margin: auto;
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-rows: 30% 70%;
}


/* display dividido en dos */
.pantalla {
  overflow: auto;
  display: flex;
  flex-direction: column;
  cursor: default;
}

.cuenta,
.resultado {
  width: 100%;
  height: 50%;
  padding: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.cuenta {
  font-size: 6rem;
}

.resultado {
  font-size: 3rem;
}


/* botones con grid */

.botones {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr)
}

.numero,
.operador {
  font-size: 2rem;
  border-radius: 20px;
  margin: .5rem;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.452);
  cursor: pointer;
  transition: all .3s ease;
}

.numero:hover {
  box-shadow: inset 0px 0px 100px 0px rgba(255, 255, 255, 0.829);
  background: transparent;
  border: none;
}

.operador:hover {
  box-shadow: inset 0px 0px 100px 0px rgba(255, 255, 255, 0.829);
  background: transparent;
  border: none;
}

.numero {
  background: rgba(255, 255, 255, 0.253);
  border-color: rgb(94, 255, 0);
}

.operador {
  background: rgba(255, 255, 255, 0.123);
  border-color: rgb(251, 255, 0);
}

.operador.igual {
  background: rgba(255, 255, 255, 0.247);
  border-color: rgb(128, 0, 0);
  grid-column: 1/5;
}